<nav class="slds-nav-vertical">
    <div class="slds-nav-vertical__section">
        <h2 id="entity-header" class="slds-nav-vertical__title slds-text-title_caps">Generators</h2>
        <ul>
            <li class="slds-nav-vertical__item slds-is-active"><a href="javascript:void(0);"
                                                                  class="slds-nav-vertical__action"
                                                                  aria-describedby="entity-header"
                                                                  aria-current="page">People Generator</a></li>
            <li class="slds-nav-vertical__item"><a href="javascript:void(0);"
                                                   class="slds-nav-vertical__action"
                                                   aria-describedby="entity-header">Bank Account Generator</a></li>
            <li class="slds-nav-vertical__item"><a href="javascript:void(0);"
                                                   class="slds-nav-vertical__action"
                                                   aria-describedby="entity-header">VAT Number Generator</a></li>
        </ul>
    </div>
</nav>