<div style="position: relative; height: 3.125rem;">
    <div class="slds-builder-header_container">
        <header class="slds-builder-header">
            <div class="slds-builder-header__item">
                <div class="slds-builder-header__item-label slds-media slds-media_center">
                    <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-utility-builder slds-current-color">
                            <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#builder"/>
                            </svg>
                        </span>
                    </div>
                    <div class="slds-media__body">Randomizer</div>
                </div>
            </div>
            <div class="slds-builder-header__item slds-builder-header__utilities">
                <!--<div class="slds-builder-header__utilities-item">
                    <a href="javascript:void(0);" class="slds-builder-header__item-action slds-media slds-media_center">
                        <div class="slds-media__figure">
                            <span class="slds-icon_container slds-icon-utility-back slds-current-color">
                                <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#back"/>
                                </svg>
                            </span>
                        </div>
                        <div class="slds-media__body">Back</div>
                    </a>
                </div>-->
                <div class="slds-builder-header__utilities-item">
                    <a href="javascript:void(0);" class="slds-builder-header__item-action slds-media slds-media_center">
                        <div class="slds-media__figure">
                            <span class="slds-icon_container slds-icon-utility-help slds-current-color">
                                <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#help"/>
                                </svg>
                            </span>
                        </div>
                        <div class="slds-media__body">Help</div>
                    </a>
                </div>
            </div>
        </header>
    </div>
</div>